body {
    background-color: #2166e6;
    opacity: 0.9;
    background-image: url(../img/hero-a.svg);

}
img {
    height: 600px;
    float: right;
    position: relative;
}
h1 {
    color: white;
    font-size: 2.3em;
    font-family: NunitoSansBold,sans-serif;
}
.navbar{
    float: right;
    color: yellow;

}

ul {
    list-style-type: none;
    margin: 0cm;
    padding: 0;
    overflow: hidden;
   

}
.header{
    background-color: yellow;
}

li {
    float: left;


}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    
}
.dropdown-content a {
    color : black;
    padding : 12 px 16px;
    trxt-decoration : none;
    display: block;    
}
